.buy-it-now {
  background: $light-color;
  padding: 0 90px;
}

  .buy-it-now__header {
    @include section-header();
  }

  .buy-it-now__col {
    align-items: flex-end;
    display: flex;
    justify-content: center;
  }

    .buy-it-now__unit-block {
      flex: 0 0 auto
    }

      .buy-it-now__unit {
        background: $dark-color;
        border-radius: 4px;
        border: 2px solid $dark-color;
        max-width: 300px;
        width: 100%;
      }

        .buy-it-now__unit-header{
          @include buy-it-now-header();
          box-sizing: border-box;
        }

        .buy-it-now__unit-price{
          @include buy-it-now-price();
          background: $light-color;
        }

        .buy-it-now__unit-text {
          @include buy-it-now-text();
        }

          .buy-it-now__unit-text>li {
            margin-left: 1.5rem;
          }

        .buy-it-now__unit-buy-btn {
          @include buy-it-now-btn();
          border-radius: 4px;
          background: $light-color;
          display: block;
        }

        .buy-it-now__unit-buy-btn:hover {
          color: $dark-color!important;
          text-decoration: none!important;
        }

@media (max-width: 541px) {
  .buy-it-now {
    padding: 1.5 1rem!important;
  }
}