html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="css/index.css" type="")
    title Lesson3
  body
    div(class="container")
      header(class="header")
        nav(class="navbar navbar-expand-xl navbar-light bg-light position-fix-top")
          a(class="navbar-brand" href="#") cab
            span(class="navbar-brand_sp1") hub
            span(class="navbar-brand_sp2") call and relex

          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation")
            div(id="menuToggle")
              input(type="checkbox")
              span(id="span1")
              span(id="span2")
              span(id="span3")

          div(class="collapse navbar-collapse" id="navbarToggler")
            ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
              li(class="nav-item")
                a(class="nav-link" href="#") home
              li(class="nav-item")
                a(class="nav-link" href="#") about
              li(class="nav-item")
                a(class="nav-link" href="#") features
              li(class="nav-item")
                a(class="nav-link" href="#") blog
              li(class="nav-item")
                a(class="nav-link" href="#") order now
              li(class="nav-item")
                a(class="nav-link" href="#") contacts

        div(class="header__book-cab")
          p(class="header__book-cab-p1") book cab now
          a(class="header__book-cab-p2" href="tel:+12345678900") +123 4567 8900
          a(class="header__book-cab-p3" href="https://www.psdfreebies.com") www.psdfreebies.com


      div(class="about")
        img(class="about__car" src="images/car-about.png")
        article(class="about__content")
          h1(class="about__content-header") best in city
            span(class="about__content-header-sp1") trusted cab servies in new york
          p(class="about__content-p1") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.
          a(class="about__content-btn") read more

        div(class="about__book-form")
          div(class="about__book-form-header") book a
            span(class="about__book-form-header_sp1")  cab
          form(action="")
            input(type="text" name="name" placeholder="Name" pattern="^([A-Za-z]+)$")
            input(type="tel" name="tel" placeholder="Phone")
            input(type="text" name="date" placeholder="Date" onfocus="(this.type='date')" onblur="(this.type='text')")
            input(type="text" name="time" placeholder="Time" onfocus="(this.type='time')" onblur="(this.type='text')")
            input(type="text" name="start" placeholder="Start" pattern="^([A-Za-z,\./\s-]+)$")
            input(type="text" name="end" placeholder="End" pattern="^([A-Za-z,\./\s-]+)$")
            input(type="text" name="vehicle" placeholder="Choose Vehicle" list="vehicles" pattern="^([A-Za-z,\./\s-]+)$")
            datalist(id="vehicles")
              option(value="auto1")
              option(value="auto2")
              option(value="auto3")
              option(value="auto4")
              option(value="auto5")
            input(type="submit" value="submit" class="about__book-form-btn")


      div(class="tariffs")
        h2(class="tariffs__header")
          span(class="h2__sp1") our
          span(class="h2__sp2") tariffs

        div(class="tariffs-block")
          article(class="tariffs__item")
            div(class="tariffs__item-white-block")
            img(class="tariffs__item-img" src="images/car-tariffs.png")
            h3(class="tariffs__item-header") economy class
            div(class="tariffs__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            div(class="tariffs__item-price") $1.5/mi
            a(class="about__content-btn") read more

          article(class="tariffs__item tariffs-item-best")
            div(class="tariffs__item-white-block")
            img(class="tariffs__item-img" src="images/car-tariffs.png")
            h3(class="tariffs__item-header") standart class
            div(class="tariffs__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            div(class="tariffs__item-price") $1.5/mi
            a(class="about__content-btn") read more

          article(class="tariffs__item")
            div(class="tariffs__item-white-block")
            img(class="tariffs__item-img" src="images/car-tariffs.png")
            h3(class="tariffs__item-header") business class
            div(class="tariffs__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            div(class="tariffs__item-price") $1.5/mi
            a(class="about__content-btn") read more


      div(class="services")
        h2(class="services__header")
          span(class="h2__sp1") we do best
          span(class="h2__sp2") than you wish

        div(class="services__item-block")
          article(class="services__item")
            img(class="services__item-img" src="images/service-pic1.png")
            h3(class="services__item-header") home pickup
            p(class="services__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          article(class="services__item")
            img(class="services__item-img" src="images/service-pic2.png")
            h3(class="services__item-header") home pickup
            p(class="services__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          article(class="services__item")
            img(class="services__item-img" src="images/service-pic3.png")
            h3(class="services__item-header") home pickup
            p(class="services__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          article(class="services__item")
            img(class="services__item-img" src="images/service-pic4.png")
            h3(class="services__item-header") home pickup
            p(class="services__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.

        a(class="services__btn") read more


      div(class="cab")
        h2(class="cab__header")
          span(class="h2__sp1") download
          span(class="h2__sp2") best cab service
        div(class="cab__content-block")
          article(class="cab__side")
            h3(class="cab__side-header") Download the Cab voucher app free! Get Exciting New Offers
            p(class="cab__side-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            a(class="cab__side-btn-service" href="#")
              img(src="images/cab-btn-gp.png")
            a(class="cab__side-btn-service" href="#")
              img(src="images/cab-btn-gp.png")
          img(class="cab__bg" src="images/cab-bg.png")


      div(class="reviews")
        div(class="reviews__header")
          span(class="h2__sp1") happy client's
          span(class="h2__sp2") testimonials

        div(class="reviews__item-block")
          section(class="reviews__item")
            p(class="reviews__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus.
            img(class="reviews__item-photo" src="images/photo-reviews.png")
            p(class="reviews__item-name") john doe
            p(class="reviews__item-about") business man

          section(class="reviews__item")
            p(class="reviews__item-content") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus.
            img(class="reviews__item-photo" src="images/photo-reviews.png")
            p(class="reviews__item-name") john doe
            p(class="reviews__item-about") business man


      div(class="contacts")
        p(class="contacts__content") we are ready to take your call 24 hours, 7 days!
        a(class="contacts__phone" href="tel:+12345678900") +123 4567 8900


      footer(class="footer")
        div(class="footer__item")
          h4(class="footer__item-header") about cab hub
          p(class="footer__item-content footer__item-content_white") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu.
          p(class="footer__item-1-icons")
            a(class="footer__item-content footer__item-content_yellow icon-facebook" href="#")
            a(class="footer__item-content footer__item-content_yellow icon-gplus" href="#")
            a(class="footer__item-content footer__item-content_yellow icon-twitter" href="#")
            a(class="footer__item-content footer__item-content_yellow icon-instagram" href="#")

        div(class="footer__item")
          h4(class="footer__item-header") download
          p(class="footer__item-content footer__item-content_white") Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit.
          div(class="footer__item-2-icons")
            a(class="footer__item-content footer__item-content_yellow" href="#") Android Users
            a(class="footer__item-content footer__item-content_white icon-android" href="#")
            a(class="footer__item-content footer__item-content_yellow" href="#") IOS Users
            a(class="footer__item-content footer__item-content_white icon-apple" href="#")

        div(class="footer__item")
          h4(class="footer__item-header") contact
          div(class="footer__item-3-icons")
            a(class="footer__item-content footer__item-content_white icon-location" href="#")
            a(class="footer__item-content footer__item-content_white" href="#") +123, Main Street, Your City, New York, USA 789456
            a(class="footer__item-content footer__item-content_white icon-mobile"  href="#")
            a(class="footer__item-content footer__item-content_white" href="#") +123 4567 8900
            a(class="footer__item-content footer__item-content_white icon-mail"  href="#")
            a(class="footer__item-content footer__item-content_white" href="#") free@psdfreebies.com
            a(class="footer__item-content footer__item-content_white icon-mouse-pointer" href="#")
            a(class="footer__item-content footer__item-content_white" href="#") www.psdfreebies.com

        div(class="copy") Copyright &copy; 2015 PSDfreebies.com