// -------------------------------
// colors
// -------------------------------

$white: #f5f5f5;
$beige: #fbfaf8;
$light-brown: #f1eee9;
$brown: #c7b299;
$dark-brown: #998675;
$very-dark-brown: #362f2d;
$grey: #8e8f90;
$dark-grey: #555555;
$blue: #00bff3;